.MemoryControls {
  &__tacts {
    display: block;
    margin: 1rem 0;
  }
  &__tactsNumber {
    width: 2rem;
    margin-right: 0.5rem;
  }

  &__bitsWidth {
    display: block;
    color: #515e6b;
    font-weight: 300;
    opacity: 0.8;
  }

  &__clockPinBlock {
    height: 120px;
    opacity: 1;
    transition: height 700ms, opacity 700ms;
    &_hidden {
      height: 0;
      opacity: 0;
      transition: height 700ms, opacity 500ms;
    }
  }

  &__enabledBlock,
  &__readWriteBlock,
  &__clockPinBlock,
  &__addressBlock,
  &__dataBlock {
    display: flex;
    justify-content: space-between;
    background: #cfcfcf24;
    padding: 0.25rem 0 0.25rem 3rem;
  }

  &__enabledBlock,
  &__readWriteBlock,
  &__clockPinBlock,
  &__addressBlock {
    margin-top: 0.5rem;
  }

  &__enabledLabel,
  &__readWriteLabel,
  &__clockLabel,
  &__addressLabel,
  &__dataLabel {
    width: 10rem;
    margin-right: 1.5rem;
    padding: 9px 0 8px 0;
    line-height: 20px;
    color: #515e6b;
  }

  &__enabledLabel,
  &__read,
  &__write {
    cursor: pointer;
    &_enabled {
      font-weight: bold;
    }
  }

  &__dataMode {
    display: flex;
  }

  &__currentTacts {
    opacity: 0.7;
    font-size: 0.875rem;
  }

  &__tactsNote {
    opacity: 0.7;
    font-size: 0.75rem;
    white-space: nowrap;
  }

  &__ras,
  &__cas {
    position: relative;
  }

  &__rasLabel,
  &__casLabel {
    position: absolute;
    top: 12px;
    left: 20px;
    margin-right: 0.5rem;
    margin-bottom: 10px;
    font-size: 0.75rem;
    color: #515e6b;
    text-transform: uppercase;
    &_active {
      border-top: 1px solid #515e6b;
      font-weight: bold;
    }
  }

  &__addressPins {
    width: 160px;
  }
}
