.Memory {
  background: #e6f0ff;
  padding: 15px 20px 20px 20px;
  overflow: visible;
  transition: all 100ms;

  &__row,
  &__column {
    fill: transparent;

    &_selected {
      stroke: var(--cta);
      stroke-width: 2px;
    }
  }

  &__header {
    fill: var(--text-primary);
    text-anchor: end; // TODO: check these rules for browser compatibility
    dominant-baseline: middle; // TODO: check these rules for browser compatibility
  }

  &__cell {
    fill: #bbbbbb;
    transition: 0.35s;
    &_dirty {
      fill: #8fbaff;
    }
    &_selected {
      fill: var(--cta);
    }
  }

  &__cellAddress {
    fill: #bbbbbb;
    transition: 0.35s;
    &_dirty {
      fill: #8fbaff;
    }
    &_selected {
      fill: var(--cta);
    }
  }

  &__addressLabel {
    font-size: 0.875rem;
  }
  &__addressLabel,
  &__dataLabel {
    font-family: "Roboto Mono", monospace;
    fill: white;
    text-anchor: end; // TODO: check these rules for browser compatibility
    dominant-baseline: middle; // TODO: check these rules for browser compatibility
  }

  &__viewOptions {
    padding-bottom: 1rem;
  }
}
