.Memory {
  background: #e6f0ff;
  padding: 15px 20px 20px 20px;
  overflow: visible;
  transition: all 100ms;

  &__memoryContainer {
    max-width: 582px;
    max-height: 572px;
    overflow: scroll;
  }

  &__frame {
    fill: transparent;

    &_preselected {
      stroke: var(--cta);
      stroke-width: 2px;
      opacity: 0.75;
      stroke-dasharray: 20 25;
    }
    &_selected {
      stroke: var(--cta);
      stroke-width: 2px;
      opacity: 1;
    }
  }

  &__header {
    fill: var(--text-primary);
    text-anchor: end; // TODO: check these rules for browser compatibility
    dominant-baseline: middle; // TODO: check these rules for browser compatibility
  }

  &__cell,
  &__cellAddress {
    fill: #bbbbbb;
    transition: 0.35s;
    &_dirty {
      fill: #99befa;
    }
    &_preselected {
      fill: var(--cta);
      opacity: 0.7;
    }
    &_selected {
      fill: var(--cta);
    }
  }

  &__addressLabel {
    font-size: 0.875rem;
  }
  &__addressLabel,
  &__dataLabel {
    font-family: "Roboto Mono", monospace;
    fill: white;
    text-anchor: end; // TODO: check these rules for browser compatibility
    dominant-baseline: middle; // TODO: check these rules for browser compatibility
  }

  &__viewOptions {
    padding-bottom: 1rem;
  }
}
