.VisualizationSettings {
  display: flex;

  &__tactingInput,
  &__rasCasInput {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.25rem;
    margin-left: 1.5rem;
    background: transparent;
  }

  &__tacting,
  &__rasCas {
    color: var(--text-primary);
    margin-bottom: 0.25rem;
    display: flex;
    align-items: flex-end;
  }
}
