.VisualizationSettings {
  display: flex;
  &__pinNotationInput,
  &__tactingInput,
  &__rasCasInput {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 0.125rem;
  }

  &__pinNotation,
  &__tacting,
  &__rasCas {
    color: #515e6b;
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;
  }
}
