@import "./input.scss";

:root {
  --black: black;
  --cta: #488dff;

  --background-primary: white;
  --background-secondary: #fffdf2;

  --text-primary: #515e6b;
  --text-secondary: #505e6b5e;
  --text-gray: #9fa5aa;

  --box-shadow-primary: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  background: transparent;
}
