.App {
  background: var(--background-primary);

  &__curtain {
    border-left: 1px solid var(--text-primary);
    display: block;
    position: relative;
    z-index: 1;
    opacity: 0.5;
    margin-left: auto;
    width: 0;
  }

  &__curtainCloser {
    position: absolute;
    top: 30%;
    stroke: var(--text-primary);
    cursor: pointer;
    transform: translate(-50%, 0) rotate(-90deg);
    transition: transform 0.75s;
    & circle {
      fill: var(--background-primary);
    }
    &_rotated {
      transform: translate(-50%, 0) rotate(90deg);
    }
  }

  &__content {
    display: flex;
    line-height: 1.5;
    padding: 0 0 0 3.25rem;
    max-height: 100vh;
  }

  &__visualizationSettings {
    min-width: 15rem;
  }
  &__articleColumn {
    flex: 0 0 0;
    opacity: 0;
    max-height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    color: var(--text-primary);
    font-size: 16px;
    transition: flex 0.5s ease-out, opacity 1s ease-out;
    background: var(--background-secondary);
    padding: 3rem;

    &_halfSize {
      opacity: 1;
      flex: 0 0 calc(35% - 6rem);
      & > p {
        width: 100%;
      }
    }
  }
  &__vizColumn {
    flex: 0 0 calc(100% - 8rem);
    transition: flex 0.5s ease-out;
    max-height: 100vh;

    &_halfSize {
      flex: 0 1 calc(65% - 2rem);
    }
  }

  &__vizContainer {
    padding: 0.5rem 2rem 1rem 0;
    position: sticky;
    top: 0;
    right: 0;
  }
}
