.RAMVisualization {
  padding: 2rem 6.25rem;

  &__caption {
    display: flex;
  }

  &__header {
    color: var(--text-primary);
    margin-bottom: 2.25rem;
    margin-right: 1rem;
  }
  &__visualization {
    display: flex;
  }
  &__visualizationSettings {
    min-width: 15rem;
  }
  &__memory {
    display: flex;
  }
  &__notes {
    margin-top: 1.25rem;
    font-size: 0.75rem;
    color: var(--text-primary);
    opacity: 0.7;
  }
}
